<form
  [ngrxFormState]="forgotPasswordFormState"
  (submit)="submitForm.emit(forgotPasswordFormState.value)"
>
  <p>Enter your email below to receive instructions on how to reset your password.</p>
  <!--<pre>{{ loginState | json }}</pre>-->
  <ng-container *ngIf="!loginState.loading && loginState.error">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-warning" role="alert">
          {{ loginState.error?.body?.error }}
        </div>
      </div>
    </div>
  </ng-container>
  <div class="row">
    <mat-form-field *ngIf="!hidden('email')" class="col-12">
      <input
        matInput
        type="email"
        placeholder="Email"
        [ngrxFormControlState]="forgotPasswordFormState.controls.email"
      >
      <mat-error>
        <ng-container [ngSwitch]="true">
          <span *ngSwitchCase="!!forgotPasswordFormState.errors?._email?.required">
            Email is required
          </span>
          <span *ngSwitchCase="!!forgotPasswordFormState.errors?._email?.email">
            Not a valid email
          </span>
          <span *ngSwitchDefault>Unknown Error</span>
        </ng-container>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="buttons" *ngIf="!hidden('buttons')">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="loginState.loading
                  || forgotPasswordFormState.isInvalid
                  || forgotPasswordFormState.isValidationPending
                  || forgotPasswordFormState.isSubmitted"
    >
      Send Reset Instructions
    </button>
    <!--<button-->
    <!--mat-raised-button-->
    <!--type="button"-->
    <!--[disabled]="forgotPasswordFormState.isPristine-->
    <!--&& forgotPasswordFormState.isUntouched-->
    <!--&& forgotPasswordFormState.isUnsubmitted"-->
    <!--(click)="resetForm.emit(login)"-->
    <!--&gt;-->
    <!--Reset-->
    <!--</button>-->
  </div>
  <mat-progress-bar
    *ngIf="loginState.loading || forgotPasswordFormState.isValidationPending"
    mode="query"
  ></mat-progress-bar>
</form>
