@import './../../breakpoints.scss';
@import './../../colors.scss';

.fabrix-colophon {
  background-color: $brown;

  .container {
    display: flex;
    background-color: $brown;
    min-height: 240px;
    color: $light-brown;

    a {
      text-decoration: none;
      color: $light-brown;
    }

    .social {
      text-align: center;

      img {
        opacity: 0.80;
        margin-right: 2em;
        width: 32px;

        &:hover {
          opacity: 0.98;
        }
      }
    }

    .left {
      text-align: left;
      padding: 2em 0 0 1em;

      .caption {
        margin-top: 1em;
        font-size: 0.8em;
      }

      img {
        height: 32px;
      }
    }
    .right {
      line-height: 1.5em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 1em 0 1em 1em;

    }
    .single {
      flex: 1;
    }
    .double {
      flex: 2;
    }
  }

  @media screen and (min-width: $breakpoint-phone) {
    padding: 2em 0;
  }
}
