@import './../../breakpoints.scss';
@import './../../colors.scss';

.start a[href="/start"],
.support a[href="/support"],
.doc a[href="/doc"],
.plugins a[href="/plugins"] {
  font-weight: bold;
  cursor: default;
}


.fabrix-header {
  background: white;
  min-height: 48px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 4px $light-brown;

  @media (min-width: $breakpoint-tablet) {
    & {
      min-height: 72px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .fabrix-logo {
    height: 36px;
    display: block;
  }

  ul {
    margin: 0;

    li {
      margin: 0 1em;
      display: inline;
      text-decoration: none;
    }
  }

  a {
    font-size: 18px;
    font-weight: 300;
    word-spacing: 1px;
    text-transform: uppercase;
    color: $green;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 24px;
    height: 20px;
    right: 12px;
    top: 16px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: $blue;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    left: 0;
    background: #bdc3c7;
  }

  /* General sidebar styles */
  .bm-menu {
    background: $white;
    padding: 2.5em 0 0;
    font-size: 1.15em;
  }

  .bm-menu-wrap {
    top: 48px;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    display: flex;
    flex-direction: column;

    a {
      margin: 0 0 1em 0;
    }

  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
