@import './../../breakpoints.scss';
@import './../../colors.scss';

.fabrix-more-features {

  padding: 1em;
  background: $lighter-gray;

  .container {
    padding: 0;
  }

  h2 {
    text-align: center;
  }

  .fabrix-more-features-content {
    display: flex;
    flex-wrap: wrap;

    img {
      height: 72px;
    }

    .fabrix-vertical-feature {
      display: flex;
      margin-bottom: 0;
      line-height: 1.5em;

      .left {
        flex: 1;
        text-align: center;
      }
      .right {
        flex: 3;
      }
      a {
        text-decoration: none;
      }

      @media screen and (min-width: $breakpoint-phone) {
        flex: 0 1 auto;
        width: 100%;
        padding: 1em;
      }
    }

    .fabrix-other-feature {
      margin-bottom: 1em;
      line-height: 1.5em;

      @media screen and (min-width: $breakpoint-phone) {
        flex: 0 1 auto;
        width: 33%;
        padding: 1em;
      }
    }

  }

}
