<mat-sidenav-container>
  <mat-sidenav
    [mode]="sidenav?.mode"
    [opened]="sidenav?.opened"
    [fixedInViewport]="sidenav?.fixedInViewport"
    [fixedTopGap]="sidenav?.fixedTopGap"
    [fixedBottomGap]="sidenav?.fixedBottomGap"
  >
    <app-sidenav
      [user]="user$ | async"
      [isAuthenticated]="isAuthenticated$ | async"
      [nav]="nav$ | async"
      (toggle)="toggleNavChild($event)"
    ></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <header class="header container-fluid stuck" [ngStyle]="{'height.px': header?.height}">
      <app-header
        [nav]="nav$ | async"
      ></app-header>
    </header>
    <div class="container-fluid" [ngStyle]="{'padding-top.px': header?.height}">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
<!--<div class="container">-->
  <!--<div class="row justify-content-center">-->
    <!--<div class="col-sm-12">-->
      <!--<app-home-header></app-home-header>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
