<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <app-home-header></app-home-header>
    </div>
    <div class="col-sm-12">
      <p>
        <img
          src="https://fabrix-app.s3.us-east-2.amazonaws.com/web/sw-002-1_rect-01-01.png"
          width="550px"
        />
      </p>
      <p>This website is coming soon!</p>
      <p>
        Please Checkout <a href="https://fabrix-app.github.io/docs/">The Git Docs</a> for now.
      </p>
    </div>
  </div>
</div>
