@import './../../breakpoints.scss';
@import './../../colors.scss';

button.fabrix-button {
  padding: 0.5em 1em;
  border-radius: 2px;
}

button.fabrix-transparent-button {

  text-transform: uppercase;
  background-image: none;
  background-color: transparent;
  color: $green;
  border: 2px solid $green;

  &:hover, &:focus {
    background-image: none;
  }

  &:hover {
    color: $white;
    border-color: $white;
  }

}
