/*
 * FabrixJS Colors
 */

$brown: #3D3A31;
$medium-brown: #82807B;
$light-brown: #BBBAB7;
$very-light-brown: #E0E0DF;
$yellow-green: #D3E49C;
$green: #63A87B;
$dark-green: darken($green, 10%);
$blue: #3A5566;
$light-blue: #A6B2BA;

$white: #ffffff;
$lighter-gray: #F9F9F9;
$light-gray: #CCCCCC;
$gray: #808080;
