/* Imports */

@import 'typography.scss';
@import 'colors.scss';
@import 'breakpoints.scss';
//@import '~github-fork-ribbon-css/gh-fork-ribbon.css';

/* Atom Styles */
@import 'components/atoms/Button.scss';

/* Molecule Styles */

/* Organism Styles */
@import 'components/organisms/Feature.scss';
@import 'components/organisms/OtherFeature.scss';

/* Ecosystem Styles */
@import 'components/ecosystems/CallToAction.scss';
@import 'components/ecosystems/Colophon.scss';
@import 'components/ecosystems/Console.scss';
@import 'components/ecosystems/Features.scss';
@import 'components/ecosystems/OtherFeatures.scss';
@import 'components/ecosystems/Header.scss';
@import 'components/ecosystems/Splash.scss';

/* Environment Styles */
@import 'components/environments/Documentation.scss';
@import 'components/environments/Plugins.scss';

/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  background: $white;
  margin: 0;
  margin-top: 48px !important;
  @media (min-width: $breakpoint-tablet) {
    margin-top: 72px !important;
  }
}

.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 2em;
  margin: 0 auto;
}
